.bio {
  background: rgb(28, 28, 28);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 50);
  margin-top: 30px;
}

.bio > p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
}

.bio > span {
  opacity: 0.8;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}
